body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: gray;
}
p, h2, main div, pre{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 10px;
}
nav {background-color: gray;}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
ul li:first-child {
    margin-right: auto;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
main div {
    padding: 6px;
    font-size: 12px;
    margin-left: 20px;
}
pre {
    margin: 0;
}
main img, section img {
    border: 8px solid white;
    box-shadow: 0px 0px 14px whitesmoke;
}
footer {
    margin-top: 30px;
    font-weight: 100;
    font-size: 12px;
}
#first {
    gap: 15px;
    row-gap: 5px;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#second {
    gap: 5px;
}
.breaker {
    flex-basis: 100%;
    height: 0;
}

/* Tooltip */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.548);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-bottom: 20px;
    /* Position the tooltip text */
    position: absolute;
    top: 10%;
    left: 10%;

    z-index: 1;
  }
  
  /* Show the tooltip */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.ttedit {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}